<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>微金所</title>
    <link rel="stylesheet" href="./stylesheets/aq-app.css">
  </head>
  <body>
    <div class="aq-app-box1">
      <div class="aq-app-container">
        <div class="box1-logo">
          <img src="/images/app/aq-app-logo.png" alt="">
        </div>
        <div class="aq-box1-bg">
          <div class="box1-left">
            <img src="/images/app/aq-app-bg1.png" alt="">
            <div class="android">
              <h3>正式发布</h3>
              <h4>微金所手机新版本</h4>
              <ul>
                <li>基于扫一扫功能的便捷关注方式</li>
                <li>浏览项目及快速操作</li>
                <li>投资小伙伴的全程贴心帮助</li>
                <li>细腻的用户界面和良好的用户体验</li>

              </ul>
              <a href="">
                <img src="/images/app/aq-app-and.png" alt="">
              </a>
            </div>
            <div class="ios">
              <img src="/images/app/aq-app-2we.jpg" alt="">
              <p>请扫描以上二维码下载APP</p>
              <a href="#">
                <img src="/images/app/aq-app-ios.png" alt="">
              </a>
            </div>
          </div>
          <div class="box1-right">
            <img src="/images/app/aq-app-phone.png" alt="">
          </div>

        </div>
      </div>
    </div>
    <div class="aq-app-box2">
      <div class="aq-app-container">
        <div class="box2-col">
          <img src="/images/app/aq-app-icon1.png" alt="">
          <h2>消息中心</h2>
          <p>整合还款通知、最新理财与公告信息。最新还款到财提醒，投资收益一目了然;最新上架产品早知道，及时投资不打烊；信息公告与网站新闻同步，及时了解微金所最新动态。</p>
        </div>
        <div class="box2-col">
          <img src="/images/app/aq-app-icon2.png" alt="">
          <h2>快速投标</h2>
          <p>手机抢标流程更简单，速度更快。拿出手机，无论WiFi还是3G信号，想快速投资，只要轻点屏幕，网上交易所就在您掌中呈现，畅快体验无线投资的乐趣!</p>
        </div>
        <div class="box2-col">
          <img src="/images/app/aq-app-icon3.png" alt="">
          <h2>安全可视</h2>
          <p>信贷服务商信用评级一目了然，高星级评定对应高安全，低星级评定对应高收益，在保障产品安全的同时，微金所提供差异化利率的信贷融资产品。</p>
        </div>
        <div class="box2-col">
          <img src="/images/app/aq-app-icon4.png" alt="">
          <h2>理财计算器</h2>
          <p>方便投资会员计算不同投资额度、利率、还款方式下的收益情况（包括每月获得收益的详细情况），投资结果了熟于心，理财策略一目了然。</p>
        </div>
      </div>

    </div>
    <div class="aq-app-box3">
      <div class="aq-app-container">
        <div class="box3-left">
          <h1>手机端APP简介</h1>
          <p>为了使微主们在移动端享受更优质的投资体验，带您领略更方便快捷的掌上交易所投资方式，只要拿出手机，轻动手指，就能了解新标上架情况、标的还款情况、个人资产变动等信息，时刻保持与微金所交易平台信息同步，投资更方便。</p>
        </div>
        <div class="box3-right">
          <img src="/images/app/aq-app-jj1.png" alt="">
        </div>
      </div>
    </div>
    <div class="aq-app-box4">
      <div class="aq-app-container">
        <div class="box4-left">
          <h2>iOS APP3.1.8优化内容</h2>
          <p>抢标活动;</p>
          <p>增加使用代金券红包等提示语。</p>
        </div>
        <div class="box4-mid">
          <img src="/images/app/aq-app-jj2.png" alt="">
        </div>
        <div class="box4-left">
          <h2>Android APP3.1.8优化内容</h2>
          <p>抢标活动;</p>
          <p>增加使用代金券红包等提示语；</p>
          <p>微转让转让后年化利率显示。</p>
        </div>
      </div>
    </div>
    <div class="aq-app-box5">
      <div class="aq-app-container">
        <h2>手机端APP特色功能</h2>
        <ul>
          <li>
            <b>个人中心：</b>
            微金所信息整合平台，集我的余额、我的投资、交易记录、我的预约、充值、提现、当月收益及个人资料管理功能于一身，信息呈现更直观、更清晰。
          </li>
          <li>
            <b>项目详情：</b>
            全新的视觉设计，标的主要信息能够清晰、快速呈现，投资决策更简单。
          </li>
          <li>
            <b>预约投标：</b>
            集合了微金所网站预约投标功能，开会？出差？没有问题！简单几步设置，手机端也能坐等自动投资了！
          </li>
          <li>
            <b>我的收益：</b>
            投资数据图表显示，收益情况一目了然，全年投资情况一手“掌”握。
          </li>
          <li>
            <b>我的预约：</b>
            预约记录清晰呈现，成功交易情况突出显示。
          </li>
          <li>
            <b>邀友加入：</b>
            独乐乐不如众乐乐，通过微信邀请好友来投资，共享投资得与快乐！
          </li>




        </ul>
      </div>
    </div>
    <div class="aq-app-box6">
      <div class="aq-app-container">
        <img src="/images/app/aq-app-ad5.jpg" alt="">
        <img src="/images/app/aq-app-ad2.jpg" alt="">
        <img src="/images/app/aq-app-ad3.jpg" alt="">
        <img src="/images/app/aq-app-ad4.jpg" alt="">
      </div>
    </div>

  </body>
</html>
