<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/aq-cg.css">
  </head>
  <body>
    <img src="/images/cg/aq-cg-1.jpg" alt="" class="aq-cg-ad">

    <div class="aq-center">
      <div class="aq-qa">
        <div class="left-col">
          <div class="qa-par">
            <img src="/images/cg/aq-cg-2.png" alt="">
            <h3>什么是银行资金存管？</h3>
            <p>
              资金存管是由银行管理资金，平台管理交易，做到资金与交易的分离，使得平台无法直接接触资金，避免客户资金被直接挪用。微金所只提供网络借贷信息中介，全过程平台无法触碰用户资金。
            </p>
          </div>
        </div>
        <div class="right-col">
          <img src="/images/cg/aq-cg-3.png" alt="">
          <div class="per">
            <span>投资人</span>
            <span>银行</span>
            <span>借款人</span>
          </div>
          <div class="halfSquare">
            <span>信息</span>
            <span>微金所</span>
            <span>信息</span>
          </div>
        </div>
      </div>
      <div class="aq-process">
        <div class="unit">
          <div class="process-icon">
            <img src="/images/cg/aq-cg-4.png" alt="">
          </div>
          <p>注册 / 登录</p>
          <p>老用户可以直接登录</p>
        </div>
        <div class="dashedArrow"></div>
        <div class="unit">
          <div class="process-icon">
            <img src="/images/cg/aq-cg-5.png" alt="">
          </div>
          <p>开存管户</p>
          <p>在线开通存管账户</p>
        </div>
        <div class="dashedArrow"></div>
        <div class="unit">
          <div class="process-icon">
            <img src="/images/cg/aq-cg-6.png" alt="">
          </div>
          <p>绑卡 / 充值</p>
          <p>绑卡后充值到存管账户</p>
        </div>
        <div class="dashedArrow"></div>
        <div class="unit">
          <div class="process-icon">
            <img src="/images/cg/aq-cg-7.png" alt="">
          </div>
          <p>投资 / 回款</p>
          <p>选择项目，安心投资</p>
        </div>
      </div>
    </div>
    <div class="aq-bggray">
      <div class="aq-cg-container aq-center">
        <ul>
          <li>排序方式</li>
          <li><a href="#">默认排序</a></li>
          <li><a href="#">年化利率<span>↓</span></a></li>
          <li><a href="#">投资期限<span>↓</span></a></li>
          <li><a href="#">产品星级<span>↓</span></a></li>
        </ul>
        <br>
        <hr>
      </div>
      <div class="aq-cg-container aq-center aq-cg-ques">
        <h3>银行存管常见问题</h3>
        <div class="lineUnit">
          <span>01</span>
          <h4>为什么要绑定银行卡？</h4>
          <p>绑定银行卡才能激活银行E账户，可以让资金结算更加安全可靠；</p>
          <p>如果不绑定银行卡，您只能将投资资金转到您的银行E账户中。</p>
        </div>
        <div class="lineUnit">
          <span>02</span>
          <h4>银行存管平台，如何充值？</h4>
          <p>通过手机银行、网银或银行柜台进行E账户充值（实时到账）后，在微金所存管账户中充值（实时到账）</p>

        </div>
        <div class="lineUnit">
          <span>03</span>
          <h4>账户安全如何保证？</h4>
          <p>所有账户均须经实名认证，银行存管系统采用“同卡进出”规则，即您在该账户内的资金只能提现至您绑定的银行卡中，只有“账户余额”与“待收金额”同时为“0”时，才能更换绑定银行卡，因此，即便您的账户及提现密码同时被不法分子窃取，也无法动用您的资金。</p>
        </div>
        <div class="lineUnit">
          <span>04</span>
          <h4>充值提现收取费用吗？</h4>
          <p>微金所存管系统的充值和提现均不收取手续费。</p>
        </div>


      </div>
    </div>

  </body>
</html>
