*{
  margin:0;
  padding:0;
  text-decoration: none;
}

ul li{
  list-style: none;
}
.container{
  width:1200px;
  margin:0 auto;
  padding:0;
}
@media (min-width:1200px)
.container{
  width:1170px;
}
@media (min-width:992px)
.container{
  width:970px;
}
@media (min-width:768)
.container{
  width:750px;
}
.top{
  width:100%;
  height:80px;
  border:1px solid gray;
}
.top .left{
  float: left;
  width:500px;
  height:70px;
  margin:5px;
}
.wjs .box {
  width: 165px;
    height: 48px;
    background: url(../img/logo.png) center no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -70px;
}
.top .right{
  float: right;
  width:400px;
  height:70px;
  line-height: 70px;
}
.right ul li{
  float: left;
  margin-left: 50px;
  font-size: 25px;
}

.DL .left{
  width:720px;
  height:380px;
  border:1px solid gray;
  margin-top:50px;
  background: #fff;
  float: left;
}
.logo{
  width:100%;
  height:100%;
  background: url("../img/gudong.jpg") center no-repeat;
  vertical-align: middle;
  line-height: 1em;
  display: inline-block;
  background-size: contain;
}

.DL .right{
  width:420px;
  height:420px;
  border:1px solid gray;
  float: right;
  margin-top:40px;
  background: #fff;
}
.dl{
  width: 340px;
  height: 360px;
  margin: 20px;
  position: relative;
}
h4{
  font-size: 25px;
  margin-left: 100px;
}
.tz{
  width:100px;
  height:80px;
  background: url("../img/dltz.png") center no-repeat;
  vertical-align: middle;
  line-height: 1em;
  margin-left: 200px;
  display: inline-block;
  background-size: contain;
}
.phone{
  width:300px;
  height:30px;
  margin-left:10px;
  text-align: center;
}
.pawd{
  width:300px;
  height:30px;
  margin-top:30px;
  margin-left:10px;
  text-align: center;
}
.jz{
  width:300px;
  height:30px;
  margin-top:10px;
  margin-left:10px;
  line-height: 30px;
  text-align: center;
}
.jz .jz-left {
  float: left;
}
.radio,h5{
  display: inline-block;
}
.jz .jz-right{
  float: right;
}
#btn{
  width: 300px;
  height: 38px;
  color: #fff;
  background-color: #dd3137;
  font-size: 14px;
  margin: 20px 15px;
  }

  .bottom{
    position: fixed;
    bottom:0px;
    width:100%;
    height:100px;
    background: #fffff0;
    text-align: center;
    line-height: 100px;
  }
