<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>底部</title>
    <link rel="stylesheet" href='/css/kbottom.css'>
  </head>
  <body>

    <div class="bottom">
      <div class="container clearfix">
        <div class="neirong">
          <div class="bottom-top">
            <div class="top-left">
              <p class="wei"></p>
              <h4 class="number">
                4006-89-4006<br>
                010-53563799
              </h4>
              <span class="time">服务热线(服务时间:9:00----21:00)</span>
              <a href="#" class="customer">
                <i class="icon-service-o"></i>
                <p>在线客服</p>
              </a>
              <h5>关注我们:
                <a href="#"class="weixin"></a>
                <a href="https://weibo.com/shenzhenweijinsuo" target="_blank" class="weibo"></a>
              </h5>
              <div class="zz"></div>
              <a href="http://szcert.ebs.org.cn/9788aefa-6c85-4251-b05e-38d7ef0e0f8b" class="gswj"></a>
            </div>
            <div class="top-right">
              <ul>关于我们
                <li><a href="https://www.weijinsuo.com/about/">公司介绍</a></li>
                <li><a href="https://www.weijinsuo.com/about/team">管理团队</a></li>
                <li><a href="https://www.weijinsuo.com/about/cooperation">合作伙伴</a></li>
                <li><a href="https://www.weijinsuo.com/about/firendship">友情链接</a></li>
                <li><a href="https://www.weijinsuo.com/about/contact">联系我们</a></li>
              </ul>
              <ul>最新动态
                <li><a href="https://www.weijinsuo.com/news/#wjs-news-media">媒体报道</a></li>
                <li><a href="https://www.weijinsuo.com/news/">公司动态</a></li>
                <li><a href="https://www.weijinsuo.com/news/#wjs-news-rate">利率报告</a></li>
                <li><a href="https://www.weijinsuo.com/news/#wjs-news-industryhis">更新历史</a></li>
              </ul>
              <ul>帮助中心
                <li><a href="https://www.weijinsuo.com/guide/greenhand">新手指导</a></li>
                <li><a href="https://www.weijinsuo.com/security">安全保障</a></li>
                <li><a href="https://www.weijinsuo.com/guide">操作指南</a></li>
                <li><a href="https://www.weijinsuo.com/guide/vip-investor">VIP投资人</a></li>
              </ul>
              <ul class="zg">合作伙伴
                <li><a href="https://www.chinapay.com/index.jsp?"target="_blank" class="yinlian"></a></li>
                <li><a href="http://m.cfca.com.cn/" target="_blank" class="jr"></a></li>
                <li><a href="https://www.ghbibank.com.cn/eAccountF/" target="_blank" class="gd"></a></li>
                <li><a href="https://www.baidu.com" target="_blank" class="bd"></a></li>
                <li><a href="http://www.chinalife.com.cn/zhuzhan/index/" target="_blank" class="ys"></a></li>
                <li><a href="http://www.shanghai-cis.com.cn/index2.aspx" target="_blank" class="zx"></a></li>
                <li><a href="https://www.thomsonreuters.cn/zh.html" target="_blank" class="tsl"></a></li>
                <li><a href="https://www.360.cn/" target="_blank" class="ss"></a></li>
              </ul>
            </div>
          </div>
          <div class="bottom2">
            <div class="bottom2-top">
              <div class="bottom2-nav">
                <ul>
                  <li> <a href="https://www.weijinsuo.com/loan/">我要理财</a></li>
                  <li> <a href="https://www.weijinsuo.com/debit/">我要贷款</a></li>
                  <li> <a href="https://www.weijinsuo.com/user/forget-password">忘记密码</a></li>
                  <li> <a href="https://www.weijinsuo.com/guide/faq#widthdraw">如何提现</a></li>
                  <li><a href="https://www.weijinsuo.com/login">登录</a>
                    <span>|</span>
                    <a href="https://www.weijinsuo.com/register">注册</a>
                  </li>
                </ul>
              </div>
              <p>©版权所有©深圳微金所金融信息服务有限公司 粤ICP备 16000732号-1</p>
              <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802024696" target="_blank">
                  <img src="./img/anquan.png" alt="" class="anquan">
                  <h5>京公网安备 11010802024696号</h5>
              </a>
            </div>
            <div class="bottom2-2">
              <ul class="dibian">
                <li><a href="https://www.weijinsuo.com/about/#tab_4"target="_blank" class="gjrz"></a></li>
                <li><a href="https://v.anquan.org/cert/site/?site=weijinsuo.com&at=business" target="_blank" class="hyyz"></a></li>
                <li><a href="http://m.cfca.com.cn/" target="_blank" class="jrrz"></a></li>
                <li><a href="http://webscan.360.cn/index/checkwebsite?url=www.weijinsuo.com" target="_blank" class="aqjc"></a></li>
                <li><a href="http://www.zx110.org/" target="_blank" class="wlsh"></a></li>
                <li><a href="http://www.12377.cn/" target="_blank" class="net"></a></li>
                <li><a href="https://ss.knet.cn/verifyseal.dll?sn=e15120811010861731i57k000000&a=1&pa=0.7230636090029612" target="_blank" class="kxwz"></a></li>
                <li><a href="http://si.trustutn.org/info?sn=378161025000540994582&certType=4" target="_blank" class="hlw"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="aa"></div> -->

    <div id="rocket" class="rocket"></div>
    <script src="./js/jquery.min.js" charset="utf-8"></script>
    <script src="./js/scroll.js" charset="utf-8"></script>
    <script src="./js/rocket.js" charset="utf-8"></script>

  </body>
</html>
