
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li{
  list-style: none;
}

.clearfix {
  clear:both;
  overflow: hidden;
}


.aq-safe-ad{
  width: 100%;
}

.aq-safebox{
  padding: 20px 0;
  width: 100%;
  div{
    width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
    dl{
      width: 75%;
      dt{
        padding-bottom: 15px;
        i{
          width: 20px;
          height: 20px;
          background-color: #349fe7;
          border-radius: 50%;
          font-size: 12px;
          font-weight: 700;
          color: white;
          line-height: 20px;
          text-align: center;
          display: inline-block;
          vertical-align: top;
          position: relative;
          top: 3px;
        }
        span{
          font-size: 18px;
          color: #349fe7;
          font-weight: 700;
        }
        b{
          font-size: 16px;
          color: #333;
        }
      }
      dd{
        line-height: 28px;
        color: #666;
        b{
          font-weight: 700;
        }
        span{
          color: #f34f54;
        }
      }
    }
  }
  .safe-pad15{
    padding: 15px 0;
    .safe-dl-inl{
      display: inline-block;
      width: 100px;
      height: 100px;
      background: blue;
      float: left;
    }
    img {
      float: left;
      padding-right: 30px;
    }
    dl{
      float: left;
      margin-top: 60px;
    }

  }
  .safe-box-bg1{
    background: url("../images/aq-aqbz-bg2.png") no-repeat center right;
  }
  .safe-box-bg2{
    background: url("../images/aq-aqbz-bg4.png") no-repeat center right;
    background-size: 20%;
  }
  .safe-box-bg3{
    background: url("../images/aq-aqbz-bg6.png") no-repeat center right;
    background-size: 20%;
    height: 240px;
  }
  .safe-box-bg4{
    background: url("../images/aq-aqbz-bg8.png") no-repeat center right;
    height: 240px;
    background-size: 20%;
  }
}
.safe-box-2{
  background: #fafafa;
}

.aq-zclist{
  dl{
    dt{
      color: #f34f54;
      text-align: center;
      font-size: 20px;
      border-bottom: 1px #d3d3d3 solid;
      width: 350px;
      margin: 0 auto;
      height: 24px;
      line-height: 24px;
      font-weight: 700;
    }
    dd{
      padding-top: 5px;
      font-size: 16px;
      color: #333;
      text-align: center;
      line-height: 30px;
      div.detail{
        font-size: 16px;
        padding: 15px 0 0 0;
        color: #333;
        font-weight: 700;
        text-align: left;
      }
      div.details{
        font-size: 14px;
        line-height: 30px;
        color: #666;
        text-align: left;
        padding: 0;
      }
    }
  }
}

.aq-safe-ptbox{
  width: 1200px;
  margin: 0 auto;
  .safe-ptbox{
    width: 400px;
    float: left;
    margin-bottom: 30px;
    div{
      width: 310px;
      border: 1px #e2e2e2 dashed;
      margin: 0 auto;
      text-align: center;
      padding: 0 20px 20px 20px;
      img{
        margin: 15px auto;
        margin-bottom: 0px;
      }
      i{
        color: #333;
        font-size: 15px;
        padding-bottom: 15px;
        font-weight: 700;
      }
      span{
        color: #666;
        font-size: 14px;
        line-height: 30px;
        text-align: left;
      }

    }
  }

}

.aq-safe-wj{
  background: #fafafa;
  padding-bottom: 20px;
  .aq-safe-wjbox{
    width: 1200px;
    margin: 0 auto;
    div.pingji{
      width: 450px;
      height: 29px;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 0;
      text-align: center;
      color: #f35f54;
      border-bottom: 1px solid #d3d3d3;
      span{
        font-size: 20px;
        font-weight: 700;
        padding: 0 15px;
        background: #fafafa;
        position: relative;
        top: 15px;
      }
    }
    p{
      color: #666;
      font-size: 14px;
      line-height: 30px;
    }
  }
}
